*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body{
    font-family: sans-serif;
    font-size: 13px;
    padding-bottom: 60px;
    position: relative;
}
.text-right{
    text-align: right;
}
.text-left{
    text-align: left;
}
.text-center{
    text-align: center;
}
.pull-right{
    float: right;
}
.pull-left{
    float: left;
}

.msgInfoBlock{
    padding-bottom: 10px;
    font-size: 15px;
    color: #56c9ef;
    background: #eee;
    padding: 20px;
    margin-bottom: 15px;
}
.msgInfoBlock.success{
    color: #60d876;
    font-weight: bold;
}
.msgInfoBlock.error{
    color: #f00;
    font-weight: bold;
}
.msgInfoBlock span{
    color: #61f316;
}
.dashboard-nav{
	background: #000;
	padding: 20px;
	margin: 0;
}
.dashboard-nav li{
    display: inline-block;
    padding: 0 10px;
}
.dashboard-nav li a{
	color: #fff;
	text-decoration: none;
 	transition: color 0.5s ease;
}
.dashboard-nav li a.logout{
    padding: 5px 12px;
    border: 1px solid #fff;
    border-radius: 4px;
}
.dashboard-nav li a.active,
.dashboard-nav li a:hover{
    color: #56d7ff;
}
ul.breadcrambs{
    padding: 20px 20px 0 20px;
    list-style-type: none;
    font-size: 17px;
}
ul.breadcrambs li{
    display: inline-block;
}
ul.breadcrambs li a{
     color: #56d7ff;
     text-decoration: none;
}
.createTableView h2{
    margin-bottom: 30px;
}
.createTableView{
	width: 95%;
	margin: 30px auto;
}
.createTableView .input-group{
	margin-bottom: 10px;
}
.createTableView .input-group.saveBtn{
    margin-top: 22px;
}
.createTableView .input-group.name,
.createTableView .input-group.slug,
.createTableView .input-group.limit{
    display: inline-block;
    padding-right: 20px;
    box-sizing: border-box;
}
.createTableView .input-group.name label,
.createTableView .input-group.slug label,
.createTableView .input-group.limit label{
}
.createTableView label{
	display: block;
    font-weight: bold;
    margin-bottom: 5px;
}
.createTableView input[type="text"],
.createTableView input[type="number"]{
	padding: 3px 5px;
	width: 200px;
	max-width: 100%;
	height: 30px;
    border: 1px solid #53d2f9;
}
.createTableView textarea{
	padding: 10px;
	width: 80%;
	height: 200px;
	max-width: 100%;
    border: 1px solid #53d2f9;
}
.createTableView .line{    
    max-width: 100%;
    border-top: 1px solid #53d2f9;
    margin: 15px 0;
}
.createTableView input[type="submit"]{
	width: auto;
    padding: 7px 40px;
    height: auto;
    border: 1px solid #53d2f9;    
    background: #0a232b;
    color: #fff;
    cursor: pointer;
    transition: background 0.5s ease, color 0.5s ease;
}
.createTableView input[type="submit"]:hover{
    background: #53d2f9;	
}
.dashboard .col-50{
    width: 50%;
    float: left;
    padding: 0 30px;
}
.dashboard .col-50 h2{
    margin-bottom: 10px;
    border-bottom: 1px solid;
}
.dashboard .col-50 h2 a{
    font-size: 15px;
    color: #104ee0;
    font-weight: normal;
    text-decoration: none;
}
.dashboard{
    display: inline-block;
    width: 100%;
    padding: 50px 10%;
}
.dashboard .tools p{
    font-size: 14px;
    margin-bottom: 15px;
}
.dashboard .tools a.btn{
    background: #2d788e;
    padding: 10px 25px;
    display: inline-block;
    color: #fff;
    text-decoration: none;
    line-height: 1;
    border-radius: 5px;
    transition: background 0.5s ease;
}
.dashboard .tools a.btn:hover{
    background: #352d8e;
}
table.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
    background-color: transparent;
    border-collapse: collapse;
}
table.table .thead-dark th {
    color: #fff;
    background-color: #212529;
    border-color: #32383e;
}
table.table td, .table th {
    padding: .75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
    text-align: left;
}
.alldbTable{
    display: inline-block;
    width: 100%;
    margin-bottom: 20px;
}
.alldbTable h3{
    margin-bottom: 20px;
    color: #fff;
    background: #bb1616;
    padding: 7px;
    font-weight: normal;
}
#select-tables, #join-tables, #conditions{
    width: 26%;
    float: left;;
    padding-right:20px;
}
#conditions{
    width: 37%;
    padding-right:0;
}
#join-tables{
    width: 37%;
}
#join-tables select{
    margin-bottom: 5px;
}

.dbTable{
    margin-bottom: 10px;
    border-bottom: 1px #999 dotted;
    padding-bottom: 10px;
}
.dbTable input[type='radio'],
.dbTable input[type='checkbox']{
    float: left;
    margin-right: 10px;
    width: 16px;
    height: 16px;

}
.dbTable span{
    font-weight: bold;
    font-size: 15px;
    line-height: 1;
}
.dbTable span.active{
    color: #2cc554;
    text-decoration: underline;
    cursor: pointer;
}
.dbTable {
    position: relative;
}
.dbTable .popup{
    display: none;
    padding: 30px 10px 15px 10px;
    position: absolute;
    top: 15px;
    left: 0;
    background: #f9f9f9;
    right: 20px;
    z-index: 10000;
    box-shadow: 2px 2px 18px 0px rgba(0,0,0,0.75);
}
.dbTable .popup .close{
    position: absolute;
    top: 6px;
    right: 10px;
    font-size: 18px;
    width: 20px;
    height: 20px;
    background: #bb1616;
    text-align: center;
    line-height: 1;
    color: #fff;
    cursor: pointer;
}
.dbTable .dbTableCollumns{
    overflow: auto;
    padding-left: 15px;
   
    max-height: 300px;
}
.dbTableCollumns input[type="text"]{
    border: none;
    border-bottom: 1px solid #c3bdbd;
    height: auto;
    float: left;
    line-height: 1;
    outline: none;
    width: auto;
    max-width: 100%;
    background: none;
    color: #159eff;
}
.dbTableCollumns input[type='checkbox']{
    margin-top: 8px;
}
#conditions p{
    margin-bottom: 10px;
}

.tableView{
    padding: 20px;
}
#generate-query{
    text-align: center;
}
#generate-query #show-query{
    display: none;
}
#generate-query .showQueryBtn{
    cursor: pointer;
    margin: 10px;
    display: inline-block;
    background: #0b5f67;
    padding: 10px 40px;
    color: #fff;
    font-size: 16px;
    transition: background 0.5s ease;
}
#generate-query .showQueryBtn:hover{
    background: #1aa7b5;
}
#generate-query .showQueryBtn.active{
    background: #11dbef;
}
#generate-query #alertMessage{
    color: #f00;
    font-size: 15px;
    font-weight: bold;
}
#generate-query #alertMessage span{
    color: #61f316;
    font-style: oblique;
}
.joinOn, .condition{
    position: relative;
    height: 25px;
    margin-top: 8px;
}
.joinOn label,
.condition label{
    position: absolute;
    top: 0;
    left: 1px;
    bottom: 1px;
    background: #53d2f9;
    height: 26px;
    padding: 6px;
    margin: 0;
    box-sizing: border-box;
    color: #fff;
    z-index: 10;
}
.condition label{
    width: 85px;
    padding-right: 5px;
}
.joinOn textarea,
.condition textarea,
.condition input[type='number']{
    width: 100%;
    height: 26px;
    padding: 3px;
    padding-left: 40px;
    display: block;
    position: absolute;
    top: 0;
    z-index: 5;
    outline: none;
}
.condition textarea,
.condition input[type='number']{
    padding-left: 90px;
}
.joinOnShow{
    margin-top: 3px;
    padding-left: 6px;
    cursor: pointer;
    text-decoration: underline;
}
.selectAllColumns,
.deselectAllColumns{
    text-decoration: underline;
    font-size: 12px !important;
    font-style: italic;
    margin-bottom: 5px;
    display: inline-block;
    cursor: pointer;
    color: #bb1616;
    padding-right: 30px;
}

/*Filter Block*/
.filterBlock{
    margin: 20px 20px 0 20px;
    border: 1px solid #999;
    background: #f0f0f0;
    width: 625px;
}
.filterBlock .headline{
    background: #fff;
    padding: 5px 10px;
    font-weight: bold;
    font-size: 15px;
}
.filterBlock .filterFieldBlock{
    padding: 10px;
    display: inline-block;
    width: 100%;
}
.filterBlock .fieldHeading{
    padding: 10px;
    font-size: 14px;
    font-weight: bold;
    display: inline-block;
    width: 100%;
}
.filterBlock .field,
.filterBlock .fieldHeading span{
    float: left;
    width: 120px;
    padding-right: 10px;
    text-align: center;
}
.filterBlock .field select,
.filterBlock .field input{
    width: 100%;
    height: 28px;
    outline: none;
    padding: 5px;
    font-size: 13px;
}
.filterBlock .field span{
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
}
.modal{
    background: #000000cf;
    /*display: block;*/
    position: absolute;
    content: ' ';
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 100;
    display: none;
}
#addFilter, 
#resetFilter,
.filterActionBtn .filter {
    background: #2d4a75;
    border: none;
    outline: none;
    color: #fff;
    padding: 5px 10px;
    margin-right: 5px;
    font-size: 15px;
    line-height: 1;
    border-radius: 3px;
    cursor: pointer;
}
#resetFilter{
    background: #bb1616;
}
#closeModal{
    float: right;
    color: #ffffff;
    background: #bb1616;
    padding: 3px 5px;
    font-size: 13px;
    line-height: 1;
    cursor: pointer;
}
.breadcrambs, .filterActions, .andOrSwitch{
    display: inline-block;
}
.fieldAction{
    display: inline-block;
    color: #3f669f;
    font-size: 25px;
    width: 120px;
    text-align: center;
    
}
.cloneFilterFields,
.removeFilterFields{
    cursor: pointer;
    margin: 0;
}
.fieldAction .fa-minus-circle{
    color: #f00;
}
.filterActionBtn {
    padding: 10px 10px;
    text-align: center;
    display: inline-block;
    width: 100%;
}
.filterActionBtn .filter{
    background: #d56e00;
    float: left;
}
.filterActionBtn .save_filter{
    background: #51774b;
    float: right;
}
.filterActionBtn .all_filters{
    float: right;
    background: #3f669f;
}

.no_data{
    padding: 50px 20px 200px;
    height: 80vh;
    text-align: center;
    font-size: 20px;
}
.switch {
  position: relative;
  height: 26px;
  width: 120px;
  background: rgba(0, 0, 0, 0.25);
  border-radius: 3px;
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
}

.switch-label {
  position: relative;
  z-index: 2;
  float: left;
  width: 58px;
  line-height: 26px;
  font-size: 11px;
  color: rgba(255, 255, 255, 0.35);
  text-align: center;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.45);
  cursor: pointer;
}
.switch-label:active {
  font-weight: bold;
}

.switch-label-off {
  padding-left: 2px;
}

.switch-label-on {
  padding-right: 2px;
}

/*
 * Note: using adjacent or general sibling selectors combined with
 *       pseudo classes doesn't work in Safari 5.0 and Chrome 12.
 *       See this article for more info and a potential fix:
 *       http://css-tricks.com/webkit-sibling-bug/
 */
.switch-input {
  display: none;
}
.switch-label {
  font-weight: bold;
  color: rgba(0, 0, 0, 0.65);
  text-shadow: 0 1px rgba(255, 255, 255, 0.25);
  -webkit-transition: 0.15s ease-out;
  -moz-transition: 0.15s ease-out;
  -o-transition: 0.15s ease-out;
  transition: 0.15s ease-out;
}
.switch-input:checked + .switch-label-on ~ .switch-selection {
  left: 60px;
  /* Note: left: 50% doesn't transition in WebKit */
}

.switch-selection {
  display: block;
  position: absolute;
  z-index: 1;
  top: 2px;
  left: 2px;
  width: 58px;
  height: 22px;
  background: #65bd63;
  border-radius: 3px;
  background-image: -webkit-linear-gradient(top, #9dd993, #65bd63);
  background-image: -moz-linear-gradient(top, #9dd993, #65bd63);
  background-image: -o-linear-gradient(top, #9dd993, #65bd63);
  background-image: linear-gradient(to bottom, #9dd993, #65bd63);
  -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.5), 0 0 2px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 1px rgba(255, 255, 255, 0.5), 0 0 2px rgba(0, 0, 0, 0.2);
  -webkit-transition: left 0.15s ease-out;
  -moz-transition: left 0.15s ease-out;
  -o-transition: left 0.15s ease-out;
  transition: left 0.15s ease-out;
}
.switch-blue .switch-selection {
  background: #3aa2d0;
  background-image: -webkit-linear-gradient(top, #4fc9ee, #3aa2d0);
  background-image: -moz-linear-gradient(top, #4fc9ee, #3aa2d0);
  background-image: -o-linear-gradient(top, #4fc9ee, #3aa2d0);
  background-image: linear-gradient(to bottom, #4fc9ee, #3aa2d0);
}
.switch-yellow .switch-selection {
  background: #c4bb61;
  background-image: -webkit-linear-gradient(top, #e0dd94, #c4bb61);
  background-image: -moz-linear-gradient(top, #e0dd94, #c4bb61);
  background-image: -o-linear-gradient(top, #e0dd94, #c4bb61);
  background-image: linear-gradient(to bottom, #e0dd94, #c4bb61);
}






.footer{
    position: absolute;
    bottom: 15px;
    left: 20px;
    color: #fff;
}
.footer a{
	color: #fff;
}